{:deps {org.mongodb/bson {:mvn/version "4.8.1"}}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps  {org.mongodb/mongodb-driver-sync      {:mvn/version "4.8.1"}
                 org.slf4j/slf4j-simple               {:mvn/version "1.7.36"}
                 io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                       :git/sha "dfb30dd"}}}
  :test
  {:main-opts  ["-m" "cognitect.test-runner"]
   :exec-fn    cognitect.test-runner.api/test}}}
